# **(Data Science Salaries 2023)**

## Objectives

* Extract: Fetch data from Kaggle and save as raw data"
* Transform: Handle missing values, convert data types, remove duplicates
* Load: Save the cleaned dataset to a new CSV file

## Inputs

* A virtual environment is needed to run the notebook

## Outputs

* A transformed data ready for data vsualisation using descriptive statistics, correlation and predictive analysis

---

# Change working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/Users/agyemang/vscode-projects/Data-Science-Salaries-2023/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/Users/agyemang/vscode-projects/Data-Science-Salaries-2023'

# Section 1

## Task 1

Import Python libraries

Section 1 content

In [1]:
import pandas as pd
import numpy as np

---

# Section 2

# Load data

## Subtask: 

Load the dataset into a pandas DataFrame

### Reasoning: Import the pandas library, load the dataset into a Dataframe and display the fist 5 rows

Section 2 content

In [20]:
df = pd.read_csv('ds_salaries.csv', encoding='latin1')

df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)